---
search_exclude: false
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}


    <body>
        {% include topnav.html search=false %}
        
         <div id="content" class="center-relative">        

             <!-- Home Section -->
                <div id="home" class="section no-page-title">                   
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">                           
                            <h1 class="big-text">
                                ELIXIR Data Stewardship<br>                               
                                Handbook
                            </h1>
                            <div class="text-left">
                                <a href="#categories" class="button">Learn more</a>
                            </div>
                        </div>                        
                    </div>
                </div> 

             <!-- Categories Section -->
                <div id="categories" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            How can we help?             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div>
                            <div class="one_third ">
                                <div class="category-holder">
                                    <p class="category-num">1</p>
                                    <div class="category-txt">
                                        <h4>Guidance</h4>
                                        <p>
                                            Quick guides and ready-to-use templates for daily data stewardship tasks – perfect for newcomers or anyone needing a refresh
                                        </p>
                                        <br>
                                        <div class=" text-left">
                                            <a href="/guidance" class="button-dot">
                                                <span>Get started</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="one_third ">
                                <div class="category-holder">
                                    <p class="category-num">2</p>
                                    <div class="category-txt">
                                        <h4>Case studies</h4>
                                        <p>
                                           In-depth examples from real-world teams, networks and organisations, showing how they tackled specific data stewardship challenges.
                                        <br>
                                        <div class="button-holder text-left">
                                            <a href="/case-studies" class="button-dot">
                                                <span>Find a case study</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="one_third last">
                                <div class="category-holder">
                                    <p class="category-num">3</p>
                                    <div class="category-txt">
                                        <h4>Maturity Model</h4>
                                        <p>
                                           A practical tool to assess where your organisation, team or consortium is on its data stewardship journey.
                                        </p>
                                        <br>
                                        <div class="button-holder text-left">
                                            <a href="/maturity-model" class="button-dot">
                                                <span>Check your level</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div>

                
             <!-- News Section -->
                <div id="news" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            News             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">
                           {% include news-list.html items=site.data.news limit=3 %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <!-- Counters Section – to be added later on with more content (see RDMKit html as the example)
            
                <div id="counters" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            counterS             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">
                            <ul class="counters-holder">

                                <li class="counter">
                                    <div class="counter-info-left">
                                        <p class="counter-num">135</p>
                                    </div>
                                    <div class="counter-info-right">
                                        <h5>Terabytes of files uploaded</h5>
                                        <p class="counter-text">
                                            Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                                        </p>
                                    </div>
                                </li>

                                <li class="counter">
                                    <div class="counter-info-left">
                                        <p class="counter-num">67K</p>
                                    </div>
                                    <div class="counter-info-right">
                                        <h5>Lines of CSS code wrote</h5>
                                        <p class="counter-text">
                                            Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                                        </p>
                                    </div>
                                </li>

                                <li class="counter">
                                    <div class="counter-info-left">
                                        <p class="counter-num">74</p>
                                    </div>
                                    <div class="counter-info-right">
                                        <h5>Cups of coffee drinked per week</h5>
                                        <p class="counter-text">
                                            Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                                        </p>
                                    </div>
                                </li>

                                <li class="counter">
                                    <div class="counter-info-left">
                                        <p class="counter-num">389</p>
                                    </div>
                                    <div class="counter-info-right">
                                        <h5>Happy clients served this year</h5>
                                        <p class="counter-text">
                                            Nulla ac laoreet est, a mollis nibh. Aenean eget auctor velit quis pharetra.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>                        
                    </div>
                </div> 
            -->
        </div>

    </body>

</html>