
/*-----General styling-----*/
$font-family-theme: "Inter", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $bright-green;
$topnav-brand-height: 60px;

/*-----More information tiles-----*/
$info-card-header-bg: $dark-color;

/*-----Section navigation tiles-----*/
$nav-card-bg: $bright-green;
$nav-card-header-bg: $bright-green;
$nav-card-header-color: $bright-green;
$nav-card-badge-color: $bright-green;
$nav-card-badge-bg: $bright-green;

/*-----Footer-----*/
$footer-bg: $dark-color;
$footer-color: $white;
$footer-link-color: $white;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $dark-color;
