
/*-----General styling-----*/
$font-family-theme: "Inter", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $dark;
$topnav-brand-height: 60px;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-color: $dark;
$info-card-bg-hover: $primary;
$info-card-color-hover: $white;

/*-----Sidebar-----*/
$sidebar-bg: $secondary-light;
$sidebar-lvl2-bg: $secondary-light;

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-header-bg: $dark;
$nav-card-header-color: $secondary;
$nav-card-badge-color: $accent-color;
$nav-card-badge-bg: $dark;

/*-----Footer-----*/
$footer-bg: $primary;
$footer-color: $white;
$footer-link-color: $white;
$footer-link-color-hover: $secondary;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $primary;
