/*-----General styling-----*/
@media (min-width: 992px) {
    main h1:not(.has-subtitle):not(.blurb-title),
    main .h1:not(.has-subtitle) {
        margin-top: -1rem;
    }
}

// Light gray background on the left
@media (min-width: 992px) {
    body:not(:has(.landingpage)) {
        .anchorjs-link {
            font-size: 0.7em !important;
            padding-top: 0.3em;
        }

        #layout {
            gap: 0 !important;
        }
        header nav.navbar {
            margin-bottom: 0 !important;
        }
        aside#sidebar {
            padding-top: $spacer * 3;
            padding-right: 0.9rem;
        }
        main#main {
            padding-top: $spacer * 3;
            padding-left: 2.1rem;
            background-color: $white;
        }
        background-image: url("../img/background.svg"); /* The image used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
}

@media (max-width: 992px) {
    .sidebar-collapse {
        background-color: $light;
    }
}

#main {
    min-height: 100vh;

    h2,
    .h2-like {
        font-weight: 600;
        margin-top: $spacer * 2.5;
        margin-bottom: $spacer * 0.5;
    }

    h3 {
        font-weight: 600;
    }
}

.octicon {
    margin-right: 0.25em;
}


/*-----Sidebar-----*/

.sidebar-title {
    border-bottom: 0.2rem solid $dark-text;
    font-weight: bold;
    padding-bottom: $input-btn-padding-y - 0.2rem;
}

#side-nav > ul {
    margin-top: $spacer * 0.5;
}

#sidebar nav ul li:not(.sidebar-title) a:hover {
  color: $accent-color;
  background: transparent;
}

#sidebar nav ul li:not(.sidebar-title) a.active {
  color: $accent-color;
  background: transparent;
}



/* -----Warning page----- */
.bg-warning {
    background-color: $accent-color !important;
    color: $white;
}

/* -----Homepage----- */

.landingpage .ways-to-contribute {
    .card {
            &:hover {
                box-shadow: $box-shadow;
            }

            .card-img-top {
                width: unset;
                padding: $card-spacer-x $card-spacer-x 0 $card-spacer-x;
            }
        }

        h1 {
            font-size: 2.2rem;
            font-weight: 200;
            text-align: center;
        }

        h2 {
            font-weight: 700;
            font-family: $font-family-theme;
        }

        h3 {
            font-weight: 600;
            font-family: $font-family-theme;
        }
}

// Icon sizing

.h-icon-8 {
    height: 8em;
}
.h-icon-6 {
    height: 6em;
}
.h-icon-5 {
    height: 5em;
}
.h-icon-4 {
    height: 4em;
}

// Search box

section#search-section {
    form {
        max-width: 600px;
    }

    #search-results {
        right: unset;
    }
    .input-group-text {
        font-size: 1.5rem;
    }

    
}


/*-----Section navigation tiles-----*/

.navigation-tiles {
    .card:hover {
        box-shadow: $box-shadow;
        text-decoration: none;
    }

    .card-header {
        a:hover {
            text-decoration: none;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}

#search-label-tiles {
    background-color: $light-background;
}


/*-----Top navigation-----*/
.navbar-nav {
  .nav-item {
    > a.nav-link {
      position: relative;
      display: inline-block;
      color: $white;
      text-decoration: none;
      z-index: 1; // keep text above the marker

      &::before {
        content: "";
        position: absolute;
        left: -2px;
        bottom: 0;
        width: calc(100% + 4px);
        height: 70%;
        background-color: $secondary-light 80%;
        transform: rotate(-2deg) scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease-out;
        z-index: -1; // sits behind the text
        border-radius: 2px; // optional soft edges
      }

      &:hover::before,
      &:focus::before {
        transform: rotate(-2deg) scaleX(1); // animate "marker swipe"
      }

      &.active::before {
        transform: rotate(-2deg) scaleX(1); // keep filled when active
      }

      &:focus-visible {
        outline: 2px solid rgba(70, 185, 108, 0.5);
        outline-offset: 3px;
      }
    }
  }
}


/*----- Buttons -----*/
.home-button {
    display: block;
    float: left;
    margin: 10px auto;
    background-color: $accent-color;
    color: #fff;
    border:none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
    padding: 10px;
    position: fixed; /* Added for back-to-top button positioning */
    bottom: 20px; /* Added for back-to-top button positioning */
    right: 20px; /* Added for back-to-top button positioning */
    display: none; /* Ensure it is hidden initially */
    z-index: 100; /* Ensure it appears on top of other elements */
    
}

.home-button:hover {
    background-color: $navbar-hover-color;
    transition: 0.7s;
}

.home a{
    text-decoration: none;
}

.stretched-link a{
    text-decoration: none;
}

.undefined a{
    text-decoration: none;
    color: $accent-color;
}

/* paddin/margin for back-to-top button */
#back-to-top span {
    display: inline-block;
    vertical-align: middle;
}

/*----- Youtube containers -----*/
.embed-container {
    position: relative;
    width: 60%;
    padding-bottom: 30%; 
    height: 0;
  }
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
