
/*-----General styling-----*/
$font-family-theme: "Inter", sans-serif;

/*-----Buttons hover style-----*/
$btn-primary-bg-hover: $primary;
$btn-primary-color-hover: $dark;

/*-----Top navigation-----*/
$topnav-bg: $dark;
$topnav-brand-height: 4rem;
$topnav-title-color: $primary;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-color: $dark;
$info-card-bg-hover: $primary;
$info-card-color-hover: $white;

/*-----Sidebar-----*/

$sidebar-bg: $light;
$sidebar-color: $dark;
$sidebar-bg-active: $primary;
$sidebar-color-active: $dark;

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-header-bg: $dark;
$nav-card-header-color: $secondary;
$nav-card-badge-color: $accent-color;
$nav-card-badge-bg: $dark;

/*-----Footer-----*/
$footer-bg: $dark;
$footer-color: $white;
$footer-link-color: $white;
$footer-link-color-hover: $secondary;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $primary;
